@import "tailwindcss";

@theme {
  --color-primary: #f4af25;
  --color-primary-light: #f6c35e;
  --color-primary-dark: #c78d1a;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221c10;
  --color-void: #0f0c08;

  --font-display: "Manrope", sans-serif;
  --font-serif: "Playfair Display", serif;
}

/* Tus estilos de Stitch aquí */
.glass-panel {
    background: rgba(34, 28, 16, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(244, 175, 37, 0.1);
}